<section class="Main-box Shadow">
        <div> 
            <p class="Hilight"><%= section_title%>    <%= todos.completed.count%>/<%= todos.count%></p>
           <br>
        </div>
        <ul>
            <% todos.all.each do |todo| %>
                <li>
                    <div class="Hover-effect">
                    <label class="TodoSection-todo">
                    
                        <%= form_with(url: "/todos/#{todo.id}" , method: "put") do %>
                        <input 
                            type="checkbox" 
                            name="completed" <%= todo.completed ? "checked" : ""%>
                            onclick="this.form.submit()"
                        />
                        <% end %>
                        <p class= <%= todo.completed ? "TodoSection-text" : ""%>><%= todo.todo_text%></p>
                        <% if show_due_date %>
                        <p class="TodoSection-date"><%= todo.due_date%></p>
                        <% end %>

                        <%= form_with(url: "/todos/#{todo.id}" , method: "delete") do%>
                        <div class="Image">
                       
                        <input type="image"  src="/assets/delete-24px.svg">
                        </div>
                        <% end %>
                    
                    </label>
                    </div>
                </li>
            <% end %>    
        </ul>
</section>

