
<!-- <section>
    <form action = "/todos" method = "POST">
        <input type = "text" name = "todo_text" placeholder="What's next?">
        <input type = "date" name = "due_date">  
        <input type = "submit" value = "Add">
    </form>
</section>

<section>
    <% Todo.all.each do |todo| %>
    <div style="display: flex;align-item: center;">
        <p style="margin-right: 20px;"><%= todo.todo_text%> </p>
        <p><%= todo.due_date%> </p>

    </div>
    <% end %>

</section> -->
<main>
<article class="TodoPage">
    <section class="TodoSection"> 
        <form action = "/todos" method = "POST">
            <input type = "text" name = "todo_text" placeholder="What's next?">
            <input type = "date" name = "due_date">  
            <input type = "submit" value = "Add">
        </form>
    </section>
    <%= render partial: "todo-section", locals: {section_title: "Overdue", todos: Todo.overdue , show_due_date: true}%>
    <%= render partial: "todo-section", locals: {section_title: "Due Today", todos: Todo.due_today , show_due_date: false}%>
    <%= render partial: "todo-section", locals: {section_title: "Due Later", todos: Todo.due_later , show_due_date: true}%>

</article>
</main>