<!DOCTYPE html>
<html>
  <head>
    <title>TodoManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="Welcome-bar">
    <% if @current_user%><br><br><br>
      <h5 class="Welcome">welcome <%= @current_user.first_name%></h5>
      <%= link_to "Signout" , destroy_session_path , :method => :delete ,:class => "Signout"%>
  
    <% end %>
   </div> 
   <p class="Flash-error"> <%= flash[:error]%></p>
    
    <%= yield %>
  </body>
</html>
